<div class="row-1 d-flex justify-content-center">
    <div class="col-5 ">
        <form [formGroup]="form" class="form mt-5 ">
            <div class="col-12">
                <h1>Add New avatar for testing</h1>
            </div>
            <div class="mb-3 ">
                <label for="exampleFormControlInput1" class="form-label">Avatar ID</label>
                <input formControlName="avatarId" type="email" class="form-control" id="exampleFormControlInput1" >
            </div>
        </form>
            <div [hidden]="!this.form.valid"  class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">there is</label>
                <form >
        
                    <div class="container justify-center">
                    
                    <div 
                    appDragAndDropDirective 
                    class="file-drop-area" 
                    (fileDropped)="uploadFileThereIs($event)"
                    id="fileDropArea"
                    >
                        <span class="choose-file-button w-2/4 h-2/4">
                            <div class="visible" id="buttonText">
                                Choose files
                            </div>
                            <div [hidden]="load1" id="loading">
                                <svg class="animate-spin h-5 w-5 mr-3" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                    
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z"></path>
                                    
                                </svg>
                                <span>cancel</span>
                            </div>
                        </span>
                        <span id="text" class="file-message">
                            or drag and drop files here
                        </span>
                        <input 
                            #fileField 
                            (change)="uploadFileThereIs($event)" 
                            name="avatars" 
                            class="file-input" 
                            type="file" 
                            multiple
                        >
                    </div>
                    </div>
                    
                </form>
            </div>
            <div [hidden]="!this.form.valid"  class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">To you plural male</label>
                <form >
        
                    <div class="container justify-center">
                    
                    <div 
                    appDragAndDropDirective 
                    class="file-drop-area" 
                    (fileDropped)="uploadFiletoYou($event)"
                    id="fileDropArea"
                    >
                        <span class="choose-file-button w-2/4 h-2/4">
                            <div class="visible" id="buttonText">
                                Choose files
                            </div>
                            <div [hidden]="load2" id="loading">
                                <svg class="animate-spin h-5 w-5 mr-3" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                    
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z"></path>
                                    
                                </svg>
                                <span>cancel</span>
                            </div>
                        </span>
                        <span id="text" class="file-message">
                            or drag and drop files here
                        </span>
                        <input 
                            #fileField 
                            (change)="uploadFiletoYou($event)" 
                            name="avatars" 
                            class="file-input" 
                            type="file" 
                            multiple
                        >
                    </div>
                    </div>
                    
                </form>
            </div>
            <div [hidden]="!this.form.valid"  class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Lots</label>
                <form >
        
                    <div class="container justify-center">
                    
                    <div 
                    appDragAndDropDirective 
                    class="file-drop-area" 
                    (fileDropped)="uploadFileLots($event)"
                    id="fileDropArea"
                    >
                        <span class="choose-file-button w-2/4 h-2/4">
                            <div class="visible" id="buttonText">
                                Choose files
                            </div>
                            <div [hidden]="load3" id="loading">
                                <svg class="animate-spin h-5 w-5 mr-3" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                    
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z"></path>
                                    
                                </svg>
                                <span>cancel</span>
                            </div>
                        </span>
                        <span id="text" class="file-message">
                            or drag and drop files here
                        </span>
                        <input 
                            #fileField 
                            (change)="uploadFileLots($event)" 
                            name="avatars" 
                            class="file-input" 
                            type="file" 
                            multiple
                        >
                    </div>
                    </div>
                    
                </form>
            </div>
            <div [hidden]="!this.form.valid" class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Work</label>
                <form >
        
                    <div class="container justify-center">
                    
                    <div 
                    appDragAndDropDirective 
                    class="file-drop-area" 
                    (fileDropped)="uploadFileWork($event)"
                    id="fileDropArea"
                    >
                        <span class="choose-file-button w-2/4 h-2/4">
                            <div class="visible" id="buttonText">
                                Choose files
                            </div>
                            <div [hidden]="load4" id="loading">
                                <svg class="animate-spin h-5 w-5 mr-3" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                    
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z"></path>
                                    
                                </svg>
                                <span>cancel</span>
                            </div>
                        </span>
                        <span id="text" class="file-message">
                            or drag and drop files here
                        </span>
                        <input 
                            #fileField 
                            (change)="uploadFileWork($event)" 
                            name="avatars" 
                            class="file-input" 
                            type="file" 
                            multiple
                        >
                    </div>
                    </div>
                    
                </form>
            </div>
            <div [hidden]="!this.form.valid"  class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">ToDo</label>
                <form >
        
                    <div class="container justify-center">
                    
                    <div 
                    appDragAndDropDirective 
                    class="file-drop-area" 
                    (fileDropped)="uploadFileToDo($event)"
                    id="fileDropArea"
                    >
                        <span class="choose-file-button w-2/4 h-2/4">
                            <div class="visible" id="buttonText">
                                Choose files
                            </div>
                            <div [hidden]="load5" id="loading">
                                <svg class="animate-spin h-5 w-5 mr-3" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                    
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z"></path>
                                    
                                </svg>
                                <span>cancel</span>
                            </div>
                        </span>
                        <span id="text" class="file-message">
                            or drag and drop files here
                        </span>
                        <input 
                            #fileField 
                            (change)="uploadFileToDo($event)" 
                            name="avatars" 
                            class="file-input" 
                            type="file" 
                            multiple
                        >
                    </div>
                    </div>
                    
                </form>
            </div>

            
        
            <div class="container col-1">
                <button [disabled]="safetyBool"  (click)="submitForm()" class="btn btn-primary m-3" >upload</button>
            </div>
            <div class="container col-1">
                <label for="">safety</label>
                <input #safety (click)="setSafety()" type="checkbox" >
            </div>

    </div>